################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.exe
*.config
*.pdb
*.manifest
*.cache
*.exe
*.exe
*.pdb
